In [87]:
import pandas as pd
import numpy as np
import requests
from datetime import datetime

In [165]:
dfq1 = pd.read_csv('2015Q1-capitalbikeshare-tripdata.csv')

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2389,2015-01-01 00:02:44,2015-01-01 00:42:33,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,W01140,Casual
1,2394,2015-01-01 00:02:46,2015-01-01 00:42:41,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,W00612,Casual
2,468,2015-01-01 00:04:32,2015-01-01 00:12:20,31204,20th & E St NW,31234,20th & O St NW / Dupont South,W01226,Member
3,348,2015-01-01 00:07:18,2015-01-01 00:13:06,31602,Park Rd & Holmead Pl NW,31117,15th & Euclid St NW,W20216,Member
4,980,2015-01-01 00:09:39,2015-01-01 00:26:00,31247,Jefferson Dr & 14th St SW,31241,Thomas Circle,W21005,Casual
5,932,2015-01-01 00:10:33,2015-01-01 00:26:06,31247,Jefferson Dr & 14th St SW,31241,Thomas Circle,W01126,Casual
6,387,2015-01-01 00:12:26,2015-01-01 00:18:53,31222,New York Ave & 15th St NW,31202,14th & R St NW,W20464,Member
7,321,2015-01-01 00:13:01,2015-01-01 00:18:22,31017,Wilson Blvd & N Uhle St,31022,Clarendon Metro / Wilson Blvd & N Highland St,W20416,Member
8,294,2015-01-01 00:16:52,2015-01-01 00:21:47,31214,17th & Corcoran St NW,31241,Thomas Circle,W21178,Member
9,2646,2015-01-01 00:17:03,2015-01-01 01:01:10,31249,Jefferson Memorial,31231,14th & D St NW / Ronald Reagan Building,W21343,Casual
10,607,2015-01-01 00:18:20,2015-01-01 00:28:27,31104,Adams Mill & Columbia Rd NW,31107,Lamont & Mt Pleasant NW,W01241,Casual
11,670,2015-01-01 00:19:42,2015-01-01 00:30:52,31042,Market Square / King St & Royal St,31048,King St Metro South,W00976,Casual
12,544,2015-01-01 00:20:06,2015-01-01 00:29:10,31115,Columbia Rd & Georgia Ave NW,31506,1st & Rhode Island Ave NW,W01087,Member
13,631,2015-01-01 00:20:08,2015-01-01 00:30:40,31042,Market Square / King St & Royal St,31048,King St Metro South,W00494,Casual
14,484,2015-01-01 00:20:19,2015-01-01 00:28:23,31104,Adams Mill & Columbia Rd NW,31107,Lamont & Mt Pleasant NW,W00075,Member
15,116,2015-01-01 00:20:28,2015-01-01 00:22:25,31241,Thomas Circle,31266,11th & M St NW,W00715,Member
16,1153,2015-01-01 00:21:47,2015-01-01 00:41:00,31249,Jefferson Memorial,31014,Lynn & 19th St North,W01244,Member
17,611,2015-01-01 00:23:18,2015-01-01 00:33:30,31114,18th St & Wyoming Ave NW,31245,7th & R St NW / Shaw Library,W21894,Member
18,359,2015-01-01 00:23:40,2015-01-01 00:29:40,31201,15th & P St NW,31266,11th & M St NW,W01222,Member
19,928,2015-01-01 00:25:38,2015-01-01 00:41:06,31202,14th & R St NW,31314,34th & Water St NW,W00392,Member
20,2104,2015-01-01 00:25:49,2015-01-01 01:00:54,31249,Jefferson Memorial,31231,14th & D St NW / Ronald Reagan Building,W21548,Casual
21,829,2015-01-01 00:28:17,2015-01-01 00:42:07,31506,1st & Rhode Island Ave NW,31116,California St & Florida Ave NW,W00219,Member
22,619,2015-01-01 00:28:44,2015-01-01 00:39:03,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W00258,Member
23,513,2015-01-01 00:28:57,2015-01-01 00:37:30,31234,20th & O St NW / Dupont South,31101,14th & V St NW,W00521,Member
24,587,2015-01-01 00:29:08,2015-01-01 00:38:55,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W21251,Member
25,1258,2015-01-01 00:29:25,2015-01-01 00:50:23,31108,4th & M St SW,31204,20th & E St NW,W20945,Member
26,325,2015-01-01 00:31:08,2015-01-01 00:36:34,31610,Eastern Market / 7th & North Carolina Ave SE,31626,15th St & Massachusetts Ave SE,W20894,Member
27,317,2015-01-01 00:31:13,2015-01-01 00:36:30,31610,Eastern Market / 7th & North Carolina Ave SE,31626,15th St & Massachusetts Ave SE,W21250,Member
28,959,2015-01-01 00:32:49,2015-01-01 00:48:49,31300,Van Ness Metro / UDC,31200,Massachusetts Ave & Dupont Circle NW,W21374,Member
29,122,2015-01-01 00:33:08,2015-01-01 00:35:11,31261,21st St & Constitution Ave NW,31220,US Dept of State / Virginia Ave & 21st St NW,W21962,Casual
...,...,...,...,...,...,...,...,...,...
423689,367,2015-03-31 23:26:44,2015-03-31 23:32:52,31245,7th & R St NW / Shaw Library,31503,Florida Ave & R St NW,W01284,Member
423690,461,2015-03-31 23:26:49,2015-03-31 23:34:30,31265,5th St & Massachusetts Ave NW,31244,4th & E St SW,W21336,Member
423691,1109,2015-03-31 23:28:06,2015-03-31 23:46:36,31222,New York Ave & 15th St NW,31007,Crystal City Metro / 18th & Bell St,W21729,Member
423692,1285,2015-03-31 23:28:42,2015-03-31 23:50:07,31231,14th & D St NW / Ronald Reagan Building,31258,Lincoln Memorial,W20742,Member
423693,105,2015-03-31 23:29:35,2015-03-31 23:31:21,31105,14th & Harvard St NW,31119,14th & Belmont St NW,W00519,Member
423694,130,2015-03-31 23:29:39,2015-03-31 23:31:50,31623,Columbus Circle / Union Station,31616,3rd & H St NE,W00736,Member
423695,483,2015-03-31 23:30:04,2015-03-31 23:38:08,31623,Columbus Circle / Union Station,31632,15th & F St NE,W01065,Member
423696,768,2015-03-31 23:30:28,2015-03-31 23:43:16,31232,7th & F St NW / National Portrait Gallery,31632,15th & F St NE,W00621,Member
423697,452,2015-03-31 23:30:34,2015-03-31 23:38:07,31623,Columbus Circle / Union Station,31622,13th & D St NE,W00078,Member
423698,952,2015-03-31 23:30:57,2015-03-31 23:46:50,31229,New Hampshire Ave & T St NW,31108,4th & M St SW,W00310,Member
423699,1076,2015-03-31 23:32:32,2015-03-31 23:50:28,31222,New York Ave & 15th St NW,31619,Lincoln Park / 13th & East Capitol St NE,W00545,Member
423700,546,2015-03-31 23:32:52,2015-03-31 23:41:59,31613,Eastern Market Metro / Pennsylvania Ave & 7th ...,31617,Bladensburg Rd & Benning Rd NE,W21314,Member
423701,192,2015-03-31 23:34:52,2015-03-31 23:38:04,31104,Adams Mill & Columbia Rd NW,31103,16th & Harvard St NW,W21789,Member
423702,434,2015-03-31 23:34:56,2015-03-31 23:42:10,31070,Arlington Blvd & Fillmore St,31035,N Quincy St & Glebe Rd,W21077,Member
423703,141,2015-03-31 23:36:19,2015-03-31 23:38:41,31252,21st St & Pennsylvania Ave NW,31212,21st & M St NW,W21573,Member
423704,326,2015-03-31 23:38:04,2015-03-31 23:43:31,31624,North Capitol St & F St NW,31612,D St & Maryland Ave NE,W20684,Member
423705,307,2015-03-31 23:40:36,2015-03-31 23:45:43,31408,Takoma Metro,32010,Philadelphia & Maple Ave,W00340,Member
423706,435,2015-03-31 23:40:43,2015-03-31 23:47:59,31227,13th St & New York Ave NW,31221,18th & M St NW,W21757,Member
423707,227,2015-03-31 23:40:49,2015-03-31 23:44:36,31616,3rd & H St NE,31614,11th & H St NE,W00736,Member
423708,447,2015-03-31 23:44:26,2015-03-31 23:51:54,31205,21st & I St NW,31214,17th & Corcoran St NW,W21929,Member
423709,276,2015-03-31 23:45:53,2015-03-31 23:50:29,31200,Massachusetts Ave & Dupont Circle NW,31229,New Hampshire Ave & T St NW,W01182,Member
423710,474,2015-03-31 23:45:59,2015-03-31 23:53:54,31256,10th & E St NW,31600,5th & K St NW,W21817,Member
423711,226,2015-03-31 23:46:50,2015-03-31 23:50:36,31017,Wilson Blvd & N Uhle St,31079,Lee Hwy & N Cleveland St,W21637,Member
423712,284,2015-03-31 23:47:55,2015-03-31 23:52:40,31117,15th & Euclid St NW,31121,Calvert St & Woodley Pl NW,W00441,Member
423713,466,2015-03-31 23:48:31,2015-03-31 23:56:18,31232,7th & F St NW / National Portrait Gallery,31616,3rd & H St NE,W21481,Member
423714,416,2015-03-31 23:52:52,2015-03-31 23:59:48,31239,Rhode Island & Connecticut Ave NW,31268,12th & U St NW,W01162,Member
423715,410,2015-03-31 23:54:29,2015-04-01 00:01:20,31623,Columbus Circle / Union Station,31632,15th & F St NE,W21214,Member
423716,857,2015-03-31 23:55:03,2015-04-01 00:09:21,31623,Columbus Circle / Union Station,31506,1st & Rhode Island Ave NW,W00995,Member
423717,122,2015-03-31 23:56:02,2015-03-31 23:58:04,32013,Montgomery & East Ln,32002,Bethesda Ave & Arlington Rd,W21816,Member
423718,203,2015-03-31 23:59:52,2015-04-01 00:03:15,31234,20th & O St NW / Dupont South,31255,24th & N St NW,W21325,Member

In [166]:
#dfq1['start_coordinates'] = dfq1['Start station'].apply(nom.geocode)

GeocoderTimedOut: Service timed out

In [89]:
dfq2 =pd.read_csv('2015Q2-capitalbikeshare-tripdata.csv')

In [90]:
dfq3 =pd.read_csv('2015Q3-capitalbikeshare-tripdata.csv')

In [91]:
dfq4 =pd.read_csv('2015Q4-capitalbikeshare-tripdata.csv')

In [92]:
dfq5 =pd.read_csv('2016Q1-capitalbikeshare-tripdata.csv')

In [93]:
dfq6 =pd.read_csv('2016Q2-capitalbikeshare-tripdata.csv')

In [94]:
dfq7 =pd.read_csv('2016Q3-capitalbikeshare-tripdata.csv')

In [95]:
dfq8 =pd.read_csv('2016Q4-capitalbikeshare-tripdata.csv')

In [96]:
dfq9 =pd.read_csv('2017Q1-capitalbikeshare-tripdata.csv')

In [97]:
dfq10 =pd.read_csv('2017Q2-capitalbikeshare-tripdata.csv')

In [98]:
dfq11 =pd.read_csv('2017Q3-capitalbikeshare-tripdata.csv')

In [99]:
dfq12 =pd.read_csv('2017Q4-capitalbikeshare-tripdata.csv')

In [100]:
df_to_add = [dfq1, dfq2, dfq3,dfq4,dfq5,dfq6, dfq7,dfq8,dfq9,dfq10,dfq11,dfq12]

In [101]:
df=pd.concat(df_to_add, axis=0, ignore_index=True)

In [102]:
df.shape

(10277677, 9)

In [103]:
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2389,2015-01-01 00:02:44,2015-01-01 00:42:33,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,W01140,Casual
1,2394,2015-01-01 00:02:46,2015-01-01 00:42:41,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,W00612,Casual
2,468,2015-01-01 00:04:32,2015-01-01 00:12:20,31204,20th & E St NW,31234,20th & O St NW / Dupont South,W01226,Member
3,348,2015-01-01 00:07:18,2015-01-01 00:13:06,31602,Park Rd & Holmead Pl NW,31117,15th & Euclid St NW,W20216,Member
4,980,2015-01-01 00:09:39,2015-01-01 00:26:00,31247,Jefferson Dr & 14th St SW,31241,Thomas Circle,W21005,Casual

In [104]:
df['Start date'] = pd.to_datetime(df['Start date'])

In [105]:
df['End date'] = pd.to_datetime(df['End date'])

In [106]:
df['start_date'] = [d.date() for d in df['Start date']]
df['start_time'] = [d.time() for d in df['Start date']]

In [107]:
df['end_date'] = [d.date() for d in df['End date']]
df['end_time'] = [d.time() for d in df['End date']]

In [108]:
df.drop(['Start date', 'End date','Bike number'], axis=1, inplace=True)

In [109]:
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

In [110]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
import holidays

us_holidays = holidays.UnitedStates(years=2015,2016,2017)

df['holiday'] = df['start_date'].isin(us_holidays)

In [111]:
df['day_of_week'] = df['start_date'].dt.day_name()

days = {'Monday':0,'Tuesday':1,'Wednesday':2,'Thursday':3,'Friday':4,'Saturday':5,'Sunday':6}

df['day_of_week'] = df['day_of_week'].apply(lambda x: days[x])

In [112]:
new_names = ['duration','start_station_number', 'start_station',
       'end_station_number', 'end_station', 'member_type','start_date','start_time','end_date','end_time','holiday','day_of_week']
len(new_names)

df.columns=new_names

In [113]:
df['holiday'] = df.holiday.astype(int)

In [114]:
member_df = pd.get_dummies(df['member_type'], drop_first=True)
# member = 1
# casual membership = 0

df = pd.concat([df, member_df], axis=1)

In [116]:
df.drop(['member_type'], axis=1, inplace=True)

In [117]:
df.isnull().sum()

duration                0
start_station_number    0
start_station           0
end_station_number      0
end_station             0
start_date              0
start_time              0
end_date                0
end_time                0
holiday                 0
day_of_week             0
Member                  0
dtype: int64

In [118]:
df.head()

,duration,start_station_number,start_station,end_station_number,end_station,start_date,start_time,end_date,end_time,holiday,day_of_week,Member
0,2389,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,2015-01-01,00:02:44,2015-01-01,00:42:33,0,3,0
1,2394,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,2015-01-01,00:02:46,2015-01-01,00:42:41,0,3,0
2,468,31204,20th & E St NW,31234,20th & O St NW / Dupont South,2015-01-01,00:04:32,2015-01-01,00:12:20,0,3,1
3,348,31602,Park Rd & Holmead Pl NW,31117,15th & Euclid St NW,2015-01-01,00:07:18,2015-01-01,00:13:06,0,3,1
4,980,31247,Jefferson Dr & 14th St SW,31241,Thomas Circle,2015-01-01,00:09:39,2015-01-01,00:26:00,0,3,0

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10277677 entries, 0 to 10277676
Data columns (total 12 columns):
duration                int64
start_station_number    int64
start_station           object
end_station_number      int64
end_station             object
start_date              datetime64[ns]
start_time              object
end_date                datetime64[ns]
end_time                object
holiday                 int32
day_of_week             int64
Member                  uint8
dtypes: datetime64[ns](2), int32(1), int64(4), object(4), uint8(1)
memory usage: 833.1+ MB

In [120]:
df.Member.value_counts()

1    7886995
0    2390682
Name: Member, dtype: int64

In [121]:
df.start_date.value_counts()

2017-04-15    16896
2015-04-11    16746
2017-08-05    16346
2017-03-25    16191
2017-04-14    16038
2015-04-18    16008
2017-07-30    15767
2015-04-12    15752
2017-07-26    15549
2016-07-17    15526
2017-07-08    15517
2017-10-07    15477
2017-04-13    15434
2017-07-04    15403
2017-09-03    15371
2017-04-11    15371
2017-07-09    15302
2017-09-16    15297
2017-07-03    15293
2017-04-09    15133
2017-06-27    15015
2017-10-06    14985
2017-07-25    14974
2017-08-09    14962
2017-06-28    14893
2017-08-25    14882
2017-08-10    14779
2017-09-09    14762
2017-08-08    14742
2017-08-30    14714
              ...
2015-12-23     2263
2016-12-25     2155
2015-01-12     2155
2015-10-02     2079
2015-01-06     2060
2017-12-24     2041
2016-01-28     2022
2015-02-22     1989
2015-03-06     1928
2017-01-08     1920
2017-12-30     1876
2017-01-14     1864
2016-02-14     1851
2017-01-07     1809
2015-01-03     1703
2017-01-02     1638
2017-03-14     1583
2016-02-13     1535
2015-12-25     1502
2017-12-31     1437
2016-12-24     1372
2015-02-16     1315
2015-02-17     1178
2015-02-15     1041
2017-12-25     1041
2015-03-01      768
2015-02-21      741
2015-03-05      538
2016-01-27      528
2016-02-15      501
Name: start_date, Length: 1092, dtype: int64

In [122]:
#df.groupby(['start_station']).count()

In [123]:
df['month'] = pd.DatetimeIndex(df['start_date']).month

In [124]:
df.month.value_counts()

7     1128153
8     1124175
6     1081141
9     1063817
10    1018427
5      995582
4      969846
11     739935
3      717152
12     533973
2      480009
1      425467
Name: month, dtype: int64

In [125]:
seasons = [1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 1]

month_to_season = dict(zip(range(1,13), seasons))

month_to_season

{1: 1, 2: 1, 3: 2, 4: 2, 5: 2, 6: 3, 7: 3, 8: 3, 9: 4, 10: 4, 11: 4, 12: 1}

In [126]:
df['season']=df['month'].replace(month_to_season)

In [127]:
df.season.value_counts()

3    3333469
4    2822179
2    2682580
1    1439449
Name: season, dtype: int64

In [128]:
df.drop(['month'], axis=1, inplace=True)

In [129]:
df.head()

,duration,start_station_number,start_station,end_station_number,end_station,start_date,start_time,end_date,end_time,holiday,day_of_week,Member,season
0,2389,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,2015-01-01,00:02:44,2015-01-01,00:42:33,0,3,0,1
1,2394,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,2015-01-01,00:02:46,2015-01-01,00:42:41,0,3,0,1
2,468,31204,20th & E St NW,31234,20th & O St NW / Dupont South,2015-01-01,00:04:32,2015-01-01,00:12:20,0,3,1,1
3,348,31602,Park Rd & Holmead Pl NW,31117,15th & Euclid St NW,2015-01-01,00:07:18,2015-01-01,00:13:06,0,3,1,1
4,980,31247,Jefferson Dr & 14th St SW,31241,Thomas Circle,2015-01-01,00:09:39,2015-01-01,00:26:00,0,3,0,1

In [130]:
weather_df1=pd.read_csv('export_weather_df.csv')

In [131]:
weather_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 3 columns):
Date                         1456 non-null object
Daily minimum temperature    1446 non-null object
Daily maximum temperature    1447 non-null object
dtypes: object(3)
memory usage: 34.2+ KB

In [145]:
weather_df1[weather_df1.isnull().any(axis=1)]

     start_date min_temp maxi_temp
384  2016-01-21      NaN      -3°C
486  2016-05-02      NaN       NaN
496  2016-05-12      NaN       NaN
751  2017-01-23      NaN       NaN
1127 2018-02-04      NaN       NaN

In [132]:
weather_df1.head()

       Date Daily minimum temperature Daily maximum temperature
0  1/1/2015                      -3°C                       1°C
1  1/2/2015                      -3°C                       8°C
2  1/3/2015                       2°C                       6°C
3  1/4/2015                       4°C                       6°C
4  1/5/2015                       8°C                      19°C

In [133]:
weather_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 3 columns):
Date                         1456 non-null object
Daily minimum temperature    1446 non-null object
Daily maximum temperature    1447 non-null object
dtypes: object(3)
memory usage: 34.2+ KB

In [134]:
new_names=['start_date', 'min_temp', 'maxi_temp']

In [135]:
weather_df1.columns = new_names

In [136]:
weather_df1['start_date'] = pd.to_datetime(weather_df1['start_date'])

In [137]:
df = pd.merge(df, weather_df1, how='left', on = 'start_date')

In [139]:
df.head()

,duration,start_station_number,start_station,end_station_number,end_station,start_date,start_time,end_date,end_time,holiday,day_of_week,Member,season,min_temp,maxi_temp
0,2389,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,2015-01-01,00:02:44,2015-01-01,00:42:33,0,3,0,1,-3°C,1°C
1,2394,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,2015-01-01,00:02:46,2015-01-01,00:42:41,0,3,0,1,-3°C,1°C
2,468,31204,20th & E St NW,31234,20th & O St NW / Dupont South,2015-01-01,00:04:32,2015-01-01,00:12:20,0,3,1,1,-3°C,1°C
3,348,31602,Park Rd & Holmead Pl NW,31117,15th & Euclid St NW,2015-01-01,00:07:18,2015-01-01,00:13:06,0,3,1,1,-3°C,1°C
4,980,31247,Jefferson Dr & 14th St SW,31241,Thomas Circle,2015-01-01,00:09:39,2015-01-01,00:26:00,0,3,0,1,-3°C,1°C

In [140]:
df.isnull().sum()

duration                    0
start_station_number        0
start_station               0
end_station_number          0
end_station                 0
start_date                  0
start_time                  0
end_date                    0
end_time                    0
holiday                     0
day_of_week                 0
Member                      0
season                      0
min_temp                36586
maxi_temp               32358
dtype: int64

In [143]:
df[df.isnull().any(axis=1)].tail()

,duration,start_station_number,start_station,end_station_number,end_station,start_date,start_time,end_date,end_time,holiday,day_of_week,Member,season,min_temp,maxi_temp
10277672,277,31109,7th & T St NW,31118,3rd & Elm St NW,2017-12-31,23:43:17,2017-12-31,23:47:54,0,6,1,1,NaN,NaN
10277673,399,31125,15th & W St NW,31110,20th St & Florida Ave NW,2017-12-31,23:51:55,2017-12-31,23:58:35,0,6,0,1,NaN,NaN
10277674,393,31209,1st & N St SE,31609,Maine Ave & 7th St SW,2017-12-31,23:55:19,2018-01-01,00:01:52,0,6,1,1,NaN,NaN
10277675,1319,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,2017-12-31,23:57:42,2018-01-01,00:19:42,0,6,1,1,NaN,NaN
10277676,266,31229,New Hampshire Ave & T St NW,31119,14th & Belmont St NW,2017-12-31,23:58:21,2018-01-01,00:02:48,0,6,1,1,NaN,NaN

In [146]:
#df.to_csv('final_df.csv')

In [282]:
import geopy
from geopy.geocoders import Nominatim

In [283]:
nom = Nominatim(user_agent="anitadangi25@gmail.com", timeout=10)

In [266]:
df_start.drop(['start_lat','start_lng'], axis=1, inplace=True)

C:\Users\anita\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [270]:
add = df_start.start_station.unique()

In [277]:
add = pd.DataFrame(add)
add.columns = ['ss']

In [279]:
add['start_lat']=add

                                                    ss
0                     Constitution Ave & 2nd St NW/DOL
1                                       20th & E St NW
2                              Park Rd & Holmead Pl NW
3                            Jefferson Dr & 14th St SW
4                            New York Ave & 15th St NW
5                              Wilson Blvd & N Uhle St
6                                17th & Corcoran St NW
7                                   Jefferson Memorial
8                          Adams Mill & Columbia Rd NW
9                   Market Square / King St & Royal St
10                        Columbia Rd & Georgia Ave NW
11                                       Thomas Circle
12                            18th St & Wyoming Ave NW
13                                      15th & P St NW
14                                      14th & R St NW
15                           1st & Rhode Island Ave NW
16                          Calvert St & Woodley Pl NW
17                       20th & O St NW / Dupont South
18                                       4th & M St SW
19        Eastern Market / 7th & North Carolina Ave SE
20                                Van Ness Metro / UDC
21                       21st St & Constitution Ave NW
22                               Florida Ave & R St NW
23                            4th & East Capitol St NE
24                                       8th & H St NW
25               Court House Metro / 15th & N Uhle St
26                                       3rd & M St NE
27                              14th St & Spring Rd NW
28                                16th & Harvard St NW
29                                       5th & K St NW
..                                                 ...
458  Westover Library / Washington Blvd & N McKinle...
459  Washington-Lee High School / N Stafford St & G...
460                          Reston Pkwy & Spectrum Dr
461                        Columbia Pike & S Taylor St
462                          Columbus Ave & Tribeca St
463                       Columbus Ave & Gramercy Blvd
464                    Key West Ave & Great Seneca Hwy
465                          Virginia Ave & 25th St NW
466                                     15th & M St NW
467                              2nd St & Seaton Pl NE
468                                11th & Girard St NW
469                          Connecticut Ave & R St NW
470                            Wilson Blvd & N Troy St
471                      15th St & Constitution Ave NW
472                        Nebraska Ave/AU East Campus
473                                     22nd & H St NW
474                                     23rd & M St NW
475                          Corporate Blvd & Omega Dr
476                      Key West Ave & Diamondback Dr
477                        4th St & Mississippi Ave SE
478  Alabama Ave & Stanton Rd SE / Shops at Park Vi...
479                          Livingston Rd & 3rd St SE
480              Mississippi Ave & 19th St SE / THEARC
481        15th St & Pennsylvania Ave NW/Pershing Park
482             1st & S Capitol St SE / Oxon Run Trail
483                              19th & Savannah St SE
484           37th & Ely Pl SE / Fort Dupont Ice Arena
485          Joliet St & MLK Ave SW/Bald Eagle Rec Ctr
486                              Maine Ave & 9th St SW
487  Lincoln Rd & Seaton Pl NE/Harry Thomas Rec Center

[488 rows x 1 columns]

In [263]:
n =nom.geocode('7th & T St NW')

AttributeError: 'Location' object has no attribute 'lat'

In [154]:
n.latitude

38.9154997

In [155]:
n.longitude

-77.0222

In [284]:
add['start_coordinates'] = add.ss.iloc[:250,:].apply(nom.geocode)

In [287]:
add['start_lat'] = add['start_coordinates'].apply(lambda x:x.latitude if x!= None else None)
add['start_lng'] = add['start_coordinates'].apply(lambda x:x.longitude if x!= None else None)

In [288]:
add

,ss,start_coordinates,start_lat,start_lng
0,Constitution Ave & 2nd St NW/DOL,"(Constitution Ave and 2nd St NW/DOL, Center Le...",38.892283,-77.013919
1,20th & E St NW,"(20th and E St NW, 20th Street Northwest, Geor...",38.896321,-77.045018
2,Park Rd & Holmead Pl NW,"(Park Rd and Holmead Pl NW, Park Road Northwes...",38.930823,-77.031514
3,Jefferson Dr & 14th St SW,"(14th Street Southwest, Smithfield, Birmingham...",33.489908,-86.853270
4,New York Ave & 15th St NW,"(New York Ave and 15th St NW, 15th Street Nort...",38.899214,-77.033740
5,Wilson Blvd & N Uhle St,None,NaN,NaN
6,17th & Corcoran St NW,"(17th & Corcoran St NW, 17th Street Northwest,...",38.912083,-77.038646
7,Jefferson Memorial,"(Jefferson Memorial, Penn Quarter, Washington,...",38.880679,-77.036143
8,Adams Mill & Columbia Rd NW,"(Adams Mill and Columbia Rd NW, Columbia Road ...",38.923044,-77.042555
9,Market Square / King St & Royal St,(Capital Bikeshare;Market Square / King St and...,38.804718,-77.043363
10,Columbia Rd & Georgia Ave NW,"(Columbia Rd and Georgia Ave NW, Columbia Road...",38.928156,-77.023440
11,Thomas Circle,"(Thomas Circle, Washington, D.C., USA, (38.905...",38.905638,-77.031946
12,18th St & Wyoming Ave NW,"(18th St & Wyoming Ave NW, 18th Street Northwe...",38.918798,-77.041526
13,15th & P St NW,"(15th and P St NW, 15th Street Northwest, Wash...",38.909850,-77.034438
14,14th & R St NW,"(14th and R St NW, R Street Northwest, Dupont ...",38.912696,-77.031670
15,1st & Rhode Island Ave NW,"(1st and Rhode Island Ave NW, T Street Northwe...",38.915417,-77.012289
16,Calvert St & Woodley Pl NW,"(Calvert St and Woodley Pl NW, Calvert Street ...",38.923600,-77.050100
17,20th & O St NW / Dupont South,"(20th and O St NW / Dupont South, 20th Street ...",38.908905,-77.044780
18,4th & M St SW,"(4th and M St SW, 4th Street Southwest, Southw...",38.876700,-77.017800
19,Eastern Market / 7th & North Carolina Ave SE,(Eastern Market / 7th and North Carolina Ave S...,38.886952,-76.996806
20,Van Ness Metro / UDC,"(Van Ness Metro / UDC, Connecticut Avenue Nort...",38.944551,-77.063896
21,21st St & Constitution Ave NW,"(21, Constitution Avenue Northwest, Washington...",38.891998,-77.011005
22,Florida Ave & R St NW,"(Florida Ave and R St NW, R Street Northwest, ...",38.912541,-77.013438
23,4th & East Capitol St NE,"(4th and East Capitol St NE, East Capitol Stre...",38.889955,-77.000349
24,8th & H St NW,"(8th and H St NW, 8th Street Northwest, Downto...",38.899655,-77.023073
25,Court House Metro / 15th & N Uhle St,"(Court House Metro / 15th & N Uhle St, Courtho...",38.890561,-77.084830
26,3rd & M St NE,"(3rd and M St NE, 3rd St NE, Near Northeast, W...",38.905478,-77.002132
27,14th St & Spring Rd NW,"(14th St and Spring Rd NW, 14th Street Northwe...",38.937500,-77.032800
28,16th & Harvard St NW,"(16th and Harvard St NW;Capital Bikeshare, Har...",38.926140,-77.036668
29,5th & K St NW,"(K Street Northwest, Washington, D.C., 20566, ...",38.902584,-77.055655
...,...,...,...,...
458,Westover Library / Washington Blvd & N McKinle...,None,NaN,NaN
459,Washington-Lee High School / N Stafford St & G...,None,NaN,NaN
460,Reston Pkwy & Spectrum Dr,None,NaN,NaN
461,Columbia Pike & S Taylor St,"(Columbia Pike and S Taylor St, South Taylor S...",38.858532,-77.103730
462,Columbus Ave & Tribeca St,None,NaN,NaN
463,Columbus Ave & Gramercy Blvd,None,NaN,NaN
464,Key West Ave & Great Seneca Hwy,"(Key West Ave and Great Seneca Hwy, Decoverly ...",39.105650,-77.203862
465,Virginia Ave & 25th St NW,"(Virginia Ave and 25th St NW, Potomac Freeway,...",38.899508,-77.054157
466,15th & M St NW,"(15th and M St NW, 15th Street Northwest Cycle...",38.905432,-77.034676
467,2nd St & Seaton Pl NE,"(2nd St and Seaton Pl NE, 2nd Street Northeast...",38.914759,-77.003562
468,11th & Girard St NW,"(11th and Girard St NW, 11th Street Northwest,...",38.925644,-77.027114
469,Connecticut Ave & R St NW,"(Connecticut Ave and R St NW, R Street Northwe...",38.912652,-77.045642
470,Wilson Blvd & N Troy St,"(Wilson Blvd and N Troy St, Wilson Boulevard, ...",38.892564,-77.082091
471,15th St & Constitution Ave NW,"(15th St and Constitution Ave NW, Constitution...",38.892252,-77.033236
472,Nebraska Ave/AU East Campus,"(Nebraska Ave/AU East Campus, 4400, Massachuse...",38.936232,-77.087158
473,22nd & H St NW,"(22nd and H St NW, 22nd Street Northwest, Geor...",38.899112,-77.048948
474,23rd & M St NW,"(23rd and M St NW, M Street Northwest, West En...",38.905311,-77.050266
475,Corporate Blvd & Omega Dr,"(Corporate Blvd and Omega Dr, Corporate Boulev...",39.106979,-77.192647
476,Key West Ave & Diamondback Dr,"(Key West Ave and Diamondback Dr, Diamondback ...",39.106160,-77.202356
477,4th St & Mississippi Ave SE,"(4th St and Mississippi Ave SE, 4th Street Sou...",38.836008,-77.000902
478,Alabama Ave & Stanton Rd SE / Shops at Park Vi...,(Alabama Ave and Stanton Rd SE / Shops at Park...,38.846278,-76.981852
479,Livingston Rd & 3rd St SE,"(Livingston Rd and 3rd St SE, Livingston Road ...",38.823738,-77.002232
480,Mississippi Ave & 19th St SE / THEARC,"(Mississippi Ave and 19th St SE / THEARC, Miss...",38.843778,-76.975572
481,15th St & Pennsylvania Ave NW/Pershing Park,(15th St and Pennsylvania Ave NW/Pershing Park...,38.896358,-77.033382
482,1st & S Capitol St SE / Oxon Run Trail,"(1st and S Capitol St SE / Oxon Run Trail, 1st...",38.824489,-77.005499
483,19th & Savannah St SE,"(19th and Savannah St SE, 19th Street Southeas...",38.846238,-76.977032
484,37th & Ely Pl SE / Fort Dupont Ice Arena,"(37th and Ely Pl SE / Fort Dupont Ice Arena, E...",38.883019,-76.949711
485,Joliet St & MLK Ave SW/Bald Eagle Rec Ctr,"(Joliet St and MLK Ave SW/Bald Eagle Rec Ctr, ...",38.819098,-77.010332
486,Maine Ave & 9th St SW,"(Maine Ave and 9th St SW, Maine Avenue Southwe...",38.880448,-77.025238
487,Lincoln Rd & Seaton Pl NE/Harry Thomas Rec Center,(Lincoln Rd and Seaton Pl NE/Harry Thomas Rec ...,38.915008,-77.007802

In [289]:
end = df_end.end_station.unique()

In [293]:
end = pd.DataFrame(end)
end.columns = ['es']

In [294]:
end['end_coordinates'] = end.es.apply(nom.geocode)

In [296]:
end['end_lat'] = end['end_coordinates'].apply(lambda x:x.latitude if x!= None else None)
end['end_lng'] = end['end_coordinates'].apply(lambda x:x.longitude if x!= None else None)

In [306]:
add['start_station'] = add['ss']

In [308]:
add.drop(['ss','start_coordinates'], axis=1, inplace=True)

In [309]:
df = pd.merge(df,add, how ='left',on = 'start_station')

In [310]:
end['end_station'] = end.es

In [315]:
end.drop(['es','end_coordinates'], axis=1, inplace=True)

In [316]:
df = pd.merge(df,end, how ='left',on = 'end_station')

In [ ]:
df_end['end_coordinates'] = df['end_station'].apply(nom.geocode)

In [233]:
df2 = df_start.start_station.value_counts()

In [247]:
df_s = pd.DataFrame(df2)

In [218]:
n = gmaps.geocode('7th & T St NW')

In [228]:
df_start = df[['start_station', 'start_station_number']]

In [230]:
df_end = df[['end_station', 'end_station_number']]

In [328]:
df.head()

,duration,start_station_number,start_station,end_station_number,end_station,start_date,start_time,end_date,end_time,holiday,...,min_temp,maxi_temp,address,addresses_2,start_lat_x,start_lng_x,start_lat_y,start_lng_y,end_lat,end_lng
0,2389,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,2015-01-01,00:02:44,2015-01-01,00:42:33,0,...,-3°C,1°C,NaN,NaN,None,None,38.892283,-77.013919,38.902000,-77.033530
1,2394,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,2015-01-01,00:02:46,2015-01-01,00:42:41,0,...,-3°C,1°C,NaN,NaN,None,None,38.892283,-77.013919,38.902000,-77.033530
2,468,31204,20th & E St NW,31234,20th & O St NW / Dupont South,2015-01-01,00:04:32,2015-01-01,00:12:20,0,...,-3°C,1°C,NaN,NaN,None,None,38.896321,-77.045018,38.908905,-77.044780
3,348,31602,Park Rd & Holmead Pl NW,31117,15th & Euclid St NW,2015-01-01,00:07:18,2015-01-01,00:13:06,0,...,-3°C,1°C,NaN,NaN,None,None,38.930823,-77.031514,38.923382,-77.035112
4,980,31247,Jefferson Dr & 14th St SW,31241,Thomas Circle,2015-01-01,00:09:39,2015-01-01,00:26:00,0,...,-3°C,1°C,NaN,NaN,None,None,33.489908,-86.853270,38.905638,-77.031946

In [329]:
#df.drop(['address','addresses_2','start_lat_x','start_lng_x'], axis=1, inplace=True)

In [330]:
df.to_csv("export1.csv")